<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elektro</title>
   
        <link rel="stylesheet" href="css/normalize.min.css"><!-- v. 5.0.0-->
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'><!-- v. 3.1.1-->
    <script src='js/jquery.min.js'></script><!-- v. 2.1.3-->
    <script src='/js/bootstrap.min.js'></script><!-- v. 3.1.1-->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="" class="navbar-brand mx-auto">Elektro</a>
        </div>
    </nav>

  <div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="btnCarga">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <p>Carga y Campo Eléctrico</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="btnGauss">
                    <span class="glyphicon glyphicon-transfer"></span>
                    <p>Ley de Gauss</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="btnPotencial">
                    <span class="glyphicon glyphicon-retweet"></span>
                    <p>Potencial Eléctrico</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="btnCapacitancia">
                    <span class="glyphicon glyphicon-inbox"></span>
                    <p>Capacitancia y Dieléctricos</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="btnSimulador">
                    <span class="glyphicon glyphicon-road"></span>
                    <p>Simulador</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="btnVideos">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <p>Videos</p>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 80px">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #15701b" data-toggle="modal" data-target="#modal-capacitor" onclick="hablar(<%= '\''+ consulta[0].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <p>Capacitor</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #f2023a" data-toggle="modal" data-target="#modal-capacitancia" onclick="hablar(<%= '\''+ consulta[1].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-th"></span>
                    <p>Capacitancia</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #9e04db"  data-toggle="modal" data-target="#modal-serie_paralelo" onclick="hablar(<%= '\''+ consulta[2].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-ok"></span>
                    <p>Capacitores en Serie y Paralelo</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #edb304" data-toggle="modal" data-target="#modal-cargar_capacitor" onclick="hablar(<%= '\''+ consulta[3].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <p>Cargar Capacitor</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #4df263" data-toggle="modal" data-target="#modal-descargar_capacitor" onclick="hablar(<%= '\''+ consulta[4].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-resize-full"></span>
                    <p>Descargar Capacitor</p>
                </button>
            </div>
        </div>
        <div class="btn-group-justified">
              <div class="btn-group">
              <button type="button" class="btn btn-nav" style="background-color: #4e7c04" data-toggle="modal" data-target="#modal-almacena_energia" onclick="hablar(<%= '\'la ley de coulumb es muy interesante. '+  consulta[5].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-euro"></span>
                    <p>Almacena Energia</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #162775" data-toggle="modal" data-target="#modal-polaridad" onclick="hablar(<%= '\'la ley de coulumb es muy interesante. '+  consulta[6].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-link"></span>
                    <p>Polaridad</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #4980ed" data-toggle="modal" data-target="#modal-Dielectrico" onclick="hablar(<%= '\'la ley de coulumb es muy interesante. '+  consulta[7].concepto +'\'' %>)">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <p>Dielectrico</p>
                </button>
            </div>
             <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #633ded" data-toggle="modal" data-target="#modal-ejercicios">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <p>Resolver Ejercicios Prácticos</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" style="background-color: #3e3c42">
                    <span class="glyphicon glyphicon-globe"></span>
                    <p>Aplicaciones</p>
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
        <p>Elektro: Sistema en desarrollo para Fisica II - UTH</p>
        <p style="color: #e92d00; font-weight: bold">Desarrollo e Implementación: Melek Sibrian, Jerson García, Samuel Ortega, Jerry García y Carlos García</p>
</footer>
<script type="text/javascript">
    var activeEl = 3;
    $(function() {
        var items = $('.btn-nav');
        $( items[activeEl] ).addClass('active');
        $( ".btn-nav" ).click(function() {
            $( items[activeEl] ).removeClass('active');
            $( this ).addClass('active');
            activeEl = $( ".btn-nav" ).index( this );
        });
    });
</script>

<!-- VENTANAS -->
<!-- Ley de Gauss -->
<div class="modal fade" id="modal-capacitor" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Capacitor</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/gauss.gif" style="width: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Flujo Eelctrico -->
<div class="modal fade" id="modal-capacitancia" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Capacitancia</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/electricidad.gif" style="width: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Serie y PAralelo -->
<div class="modal fade" id="modal-serie_paralelo" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Capacitores en Serie y Paralelo</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/campo_electrico.gif" style="height: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Cargar un Capacitor -->
<div class="modal fade" id="modal-cargar_capacitor" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cargar un Capacitor</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/campo_electrico.gif" style="height: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Descargar Capacitor -->
<div class="modal fade" id="modal-descargar_capacitor" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Descargar un Capacitor</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/campo_electrico.gif" style="height: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Alamcenar energia -->
<div class="modal fade" id="modal-almacena_energia" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Almacenar energia en un Capacitor</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/campo_electrico.gif" style="height: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Polaridad -->
<div class="modal fade" id="modal-polaridad" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Polaridad</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/campo_electrico.gif" style="height: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Dielectrico -->
<div class="modal fade" id="modal-Dielectrico" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dielectrico</h4>
      </div>
      <div class="modal-body">
        <p><img src="gifs/campo_electrico.gif" style="height: 90%"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Ejercicios -->
<div class="modal fade" id="modal-ejercicios" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ejercicios Prácticos</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
            <div class="eq-c">
                <p>Fórmula Estándar:</p>C = E<sub>0</sub> 
                <div class="fraction">
                    <span class="fup"><i>A</i></span>
                    <span class="bar">/</span>
                    <span class="fdn"><i>r</i></span>
                </div>
            </div>
            </div>
        <div class="col-sm-6">
            <p style="text-align: left">Ingrese los datos necesarios, dejando sólo una incógnita con las unidades respectivas.</p>
            <table style="text-align: left">
                <tr><td>Area 'A': </td><td><input type="text" id="txtA" placeholder="Ingresar en metros cuadrados">metros<sup>2</sup></td></tr>
                <tr><td>Distancia 'r': </td><td><input type="text" id="txtr" placeholder="Ingresar en metros">metros</td></tr>
                <tr><td>Capacitancia 'C': </td><td><input type="text" id="txtC" placeholder="Ingresar en Faraday">Faraday</td></tr>
                <tr><td></td><td><button type="button" class="btn btn-sm" onclick="Calcular()">Calcular</button></td></tr>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
       function hablar(message) {
        var speech = new SpeechSynthesisUtterance();
        // Set the text and voice attributes.
        speech.text = message;
        speech.volume = 1;
        speech.rate = 0.9;
        speech.pitch = 1;
        speech.lang='es-ES';
        window.speechSynthesis.speak(speech);
      }
       $('#btnCarga').on('click', function() {
        window.location.href='/';
      });
       $('#btnGauss').on('click', function() {
        window.location.href='/ley_de_gauss';
      });
       $('#btnPotencial').on('click', function() {
        window.location.href ='/potencial';
      });
       $('#btnCapacitancia').on('click', function() {
        window.location.href ='/capacitancia';
      });
       function Calcular(){
        var Epsilon= 8.85*(Math.pow(10, Number(-12)));
        var A=document.getElementById('txtA').value;
        var r=document.getElementById('txtr').value;
        var C=document.getElementById('txtC').value;
       
        if((A.indexOf('e')!=-1) || (A.indexOf('x10^')!=-1)){
            A=A.replace('x10^','^');
            var separador = A.split(/[e^]/);
            A=Number(separador[0])*(Math.pow(10, Number(separador[1])));
        }
        if((r.indexOf('e')!=-1) || (r.indexOf('x10^')!=-1)){
            r=r.replace('x10^','^');
            var separador = r.split(/[e^]/);
            r=Number(separador[0])*(Math.pow(10, Number(separador[1])));
        }
        if((C.indexOf('e')!=-1) || (C.indexOf('x10^')!=-1)){
            C=C.replace('x10^','^');
            var separador = C.split(/[e^]/);
            C=Number(separador[0])*(Math.pow(10, Number(separador[1])));
        }
        if(C==0){
            C=Epsilon*(A/r);
            var Cs=(Number(C)).toPrecision(4); Cs=Cs.replace('e','x10^');
            document.getElementById('txtC').value=Cs;
        }
        if(A==0){
            A=(C*r)/Epsilon;
            var As=(Number(A)).toPrecision(4); As=As.replace('e','x10^');
            document.getElementById('txtA').value=As;
        }
        if(r==0){
            r=Epsilon*(A/C);
            var rs=(Number(r)).toPrecision(4); rs=rs.replace('e','x10^');
            document.getElementById('txtr').value=rs;
        }
       }
    </script>
</body>
</html>